@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
}

.main-sec {
  width: 750px;
  margin: auto;
  overflow: hidden;
}

.background_img {
  background-image: url(../images/background_main.jpg);
  background-repeat: no-repeat;
  height: 1333px;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: center center;
}

.pag1_text1box {
  display: flex;
  width: 570px;
  padding-top: 34%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pag1_text1 {
  font-size: 34px;
  color: #f95a4c;
  font-family: "Lato", sans-serif;
  text-align: center;
  
  padding-bottom: 0px;
}

#whitedot {
  padding-top: 40px;
  width: 400px;
}

.dasaraimgbox {
  width: 580px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.dasaralgo {
  width: 560px;
}

.letsgobtn {
  margin-top: 30px;
  width: 291px;
  font-size: 44px;
  height: 76px;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  box-shadow: 5px 4px 5px 1px #00000047;
  color: #ffffff;
  text-shadow: 6px 3px 6px #0000006e;
  border: none;
  border-left: 1px solid black;
  background: rgb(80, 11, 102);
  background: linear-gradient(
    57deg,
    rgba(80, 11, 102, 0.9669117647058824) 40%,
    rgba(255, 144, 54, 1) 100%
  );
}

.bi-arrow-right {
  font-size: 40px !important;
  font-weight: 100 !important;
  -webkit-text-stroke: 0px;
  padding-left: 20px;
}

/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 728px) {
  .background_img {
    background-size: cover;
  }

  .container {
    max-width: 544px;
  }

  .pag1_text1box {
    width: 100%;
    padding-top: 47%;
  }

  .dasaraimgbox {
    width: 100%;
  }

  .pag1_text1 {
    font-size: 30px;
  }

  .pag1_text2 {
    padding-top: 10px;
  }

  #whitedot {
    padding-top: 40px;
    width: 320px;
  }

  .dasaralgo {
    width: 500px;
  }

  .letsgobtn {
    margin-top: 30px;
    width: 252px;
    font-size: 33px;
    height: 66px;
  }

  .bi-arrow-right {
    font-size: 30px !important;
    font-weight: 100 !important;
    -webkit-text-stroke: 0px;
    padding-left: 20px;
  }
}

@media (max-width: 540.98px) {
  .main-sec {
    width: 100%;
    height: auto;
  }

  .background_img {
    width: 100vw;
    background-size: contain;
    height: 100vh;
    background-position: center top;
  }

  .container {
    max-width: 340px;
  }
  .pag1_text1box {
    width: 100%;
    padding-top: 40%;
  }
  .pag1_text1 {
    font-size: 20px;
  }

  #whitedot {
    padding-top: 24px;
    width: 257px;
  }

  .dasaralgo {
    width: 90%;
  }

  .letsgobtn {
    margin-top: 15px;
    width: 130px;
    font-size: 16px;
    height: 41px;
}

.bi-arrow-right {
  font-size: 18px !important;
  font-weight: 100 !important;
  -webkit-text-stroke: 0px;
  padding-left: 14px;
}


  
}

/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 520px) {
  .main-sec {
    width: 100%;
    height: auto;
  }

  .background_img {
    width: 100vw;
    background-size: contain;
    height: 100vh;
    background-position: center top;
  }

  .container {
    max-width: 340px;
  }
  .pag1_text1box {
    width: 100%;
    padding-top: 55%;
  }
  .pag1_text1 {
    font-size: 20px;
  }

  #whitedot {
    padding-top: 24px;
    width: 257px;
  }

  .dasaralgo {
    width: 100%;
  }

  .letsgobtn {
    margin-top: 18px;
    width: 163px;
    font-size: 19px;
    height: 46px;
}

.bi-arrow-right {
  font-size: 20px !important;
  font-weight: 100 !important;
  -webkit-text-stroke: 0px;
  padding-left: 15px;
}
  
}

@media (max-width: 450px) {
  .background_img {
    width: 100vw;
    /* background-size: cover; */
    background-size: 100% 100%;
    height: 100vh;
    background-position: center top;
  }
}

@media (max-width: 390px) {
  .background_img {
    width: 100vw;
    /* background-size: cover; */
    background-size: 100% 100%;
    height: 100vh;
  }
}
