
* {
    margin: 0;
    padding: 0;
  }

  
  .main-sec
  {
    width: 750px;
    margin: auto;
  }

  .background_img
  {
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    height: 1333px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center center;
  }

  
.test
{
    font-size: 27px;
    color: red;
    padding-top: 40px;
    text-align: center;
}



@media (max-width: 768px) { 
    .main-sec
  {
    width: 100%;
    height: auto;
  }
   
    .background_img
    {
        width: 100vw;
        height: 100vh;
    }

 }